<a href="https://colab.research.google.com/github/Rizkikurniawan36/rizkikurniawan36.github.io/blob/main/Topic_3_Assignment_Mohammad%20Rizki%20Kurniawan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
#Code goes here

In [22]:
nama=""

In [23]:
print(nama)

2. > Create a variable containing your name (Points : 5)

In [30]:
#nama : Mohammad Rizki Kurniawan
first_name="Mohammad Rizki"
last_name=" Kurniawan"
full_name=(first_name+last_name)

In [31]:
print(full_name)

Mohammad Rizki Kurniawan

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [34]:
#Classrooom
new_list=["eraser","pulpen","white board","chair","table"]
print(new_list)

['eraser', 'pulpen', 'white board', 'chair', 'table']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [32]:
#Dictionary
handphone={
    "brand":["asus","samsung","xiaomi","oppo"],
    "color":["red","black","green","yellow"],
    "quantity":["3","4","6","10"]
}

In [33]:
handphone

{'brand': ['asus', 'samsung', 'xiaomi', 'oppo'],
 'color': ['red', 'black', 'green', 'yellow'],
 'quantity': ['3', '4', '6', '10']}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
#Basic data operation

In [5]:
price=12000
quantity_sold=20
discount=10/100

In [6]:
(price * quantity_sold) * (1 - discount)

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here

In [24]:
country=["indonesia","spain","singapore","japan","usa","india","mexico"]

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here

In [25]:
country[:4]

['indonesia', 'spain', 'singapore', 'japan']

In [ ]:
# Append new country to the list (Points : 5)

#Code goes here

In [26]:
country.append("australia")
print(country)

['indonesia', 'spain', 'singapore', 'japan', 'usa', 'india', 'mexico', 'australia']

In [ ]:
# Drop one country from the list (Points : 5)

#Code goes here

In [27]:
country.remove("usa")

In [ ]:
# Get country in the last index (Points : 5)

#Code goes here

In [28]:
print(country)

['indonesia', 'spain', 'singapore', 'japan', 'india', 'mexico', 'australia']

In [29]:
country[6]

'australia'

# Dictionary Data Operation

6. >  Follow the instructions below

In [19]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all customer names (Points : 5)

#Code goes here

In [13]:
customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [14]:
dict.keys(customer)

dict_keys(['name', 'age', 'gender', 'membership'])

In [15]:
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'age': [20, 19, 24, 39], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [16]:
# Print the first customer name (Points : 5)

#Code goes here

In [17]:
customer["name"][0]

'Dio'

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here

In [18]:
del customer["age"]

In [19]:
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


#Code goes here

In [20]:
customer["gender"]=["male","female","female","male"]

In [21]:
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['male', 'female', 'female', 'male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}